* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 18%;
  background-color: aqua;
}
#clock {
  width: 400px;
  height: 100%;
  /* position:absolute; display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 400%;
  padding: 0;
  margin: 0;
  background-size: 90%;
  background-position: center;
  border-radius: 5%;
  color: rgba(245, 222, 179, 0.651);
  background-color: rgb(10, 10, 10);
  border: 5px solid rgb(64, 17, 73);
  animation: animate 2s linear infinite;
  box-shadow: 0 0 5px #1a0236, 0 0 25px #32047c, 0 0 40px #620e92,
    0 0 60px #6b2786;
}
@media (max-width: 860px) {  #clock {    width: fit-content;  }}@media (max-width: 650px) {  #clock {    width: fit-content;  }}
@media (max-width: 430px) {  #clock {    width: fit-content;  }}@keyframes animate {  from {    filter: hue-rotate(10deg);  }  to {    filter: hue-rotate(50deg);  }}
/* .gun ul{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.gun ul li{
    color: white;
    list-style-type: none;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: chartreuse;
} */
